// Configs & Variables

@import url('https://fonts.googleapis.com/css?family=Comfortaa:300,400,700');

$dark_gray: #333;
$light_gray: #ddd;
$off_white: #f6f6f6;

$dark_blue: #20303f;
$light_blue: #283E51;

$orange: #ffa25b;
